$lg-breakpoint: 1024px;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.main {
  @apply text-gray-900;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  @media (min-width: $lg-breakpoint) {
    height: 100vh;
  }
}

.about {
  a {
    @apply font-semibold text-teal-600;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (min-width: $lg-breakpoint) {
    flex: 1;
  }
}

.description {
  > * {
    @apply mb-2;
  }
}

.project_list_item {
  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $lg-breakpoint) {
    flex: 1;
    margin-bottom: 0;
  }
}

.project_list {
  @media (min-width: $lg-breakpoint) {
    flex: 2;
  }
}
