@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

img {
  max-width: initial;
}

.full-width {
  @apply -mx-8;

  @screen md {
    @apply mx-0;
    grid-column: 1 / -1 !important;
  }
}

.highlight {
  color: #c792ea;
}
