@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:wght@700&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

img {
  max-width: initial;
}

.full-width {
  @apply -mx-8;

  @screen md {
    margin-left: revert;
    margin-right: revert;
    grid-column: 1 / -1 !important;
  }
}
